<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="login.css")
        title RPT Reader
    body
        .cont
            form#loginBox
                h1 RPT Reader
                input#passInput(type="password",placeholder="Password")
                br
                input#loginButton(type='submit',value="Login")
        script(src="login.js")