@import url('https://fonts.googleapis.com/css?family=Roboto');

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Roboto', sans-serif;
    background: #111;
    color: #eee;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: 3em auto;
}

header {
    display: grid;
    grid-template-columns: auto 25em 10em;
    align-items: center;
    background: #111;
    padding: .1em;
}

header > * {
    margin: 0 .5em;
}

header h1 {
    display: flex;
    font-size: 1.5em;
    align-items: center;
}

main {
    background: #111;

    display: grid;
    grid-template-rows: auto 3em;
}

main textarea {
    background: #222;
    color: #eee;
    padding: .5em;

    outline: none;
    border: none;
    resize: none;
}

.butt {
    justify-self: right;
    align-self: center;
}

.butt input {
    margin: 0 .5em;
    padding: .5em;
    width: 10em;
}

input, select {
    background: #222;
    color: #eee;
    border-radius: .1em;

    padding: .4em;

    outline: none;
    border: none;
    resize: none;
}

input[type="button"] {
    cursor: pointer;
    background: #004c8c;
    font-weight: 900;
    color: #eee;
    transition: background .3s;
}

input[type="button"]:hover {
    cursor: pointer;
    background: #0277bd;
}

input, select, textarea {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 800px) {
    body {
        display: block;
    }

    header {
        display: grid;
        grid-template-columns: 100%;
    }

    header > * {
        margin: .5em 0;
    }

    textarea {
        height: 70vh;
    }
}